Matlab/results*
Matlab/data_analysis/results*
exp/__pycache__*
data_analysis/results*
master-main*
.DS_Store

Matlab/gnn_prep_spinodal/out*
.DS_Store
Matlab/GNN/data/raw*
Matlab/GNN/data/dataset*
Matlab/GNN/data/processed*

exp/__pycache__*

CLAUDE.md
.claude 

Matlab/defectPrediction/results/*
